:root{
    --primary-color: #00cca3;
    --dark-color: #006652;
}

a{
    color: #666666;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}

abbr{
    text-decoration: none;
}
.show{
    display: block !important;
}

/* icon */

.social-links li {
    display: inline-block;
}

.social-links i{
    color: #333;
}
.social-icons a {
    color: #fff;    
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #f2f2f2;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}

.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #f2f2f2;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #f2f2f2;
}
.fa-github:hover {
    background-color: #5a32a3;
}

/* global */
img{
    width: 100%;
}
.clear{
    clear: both;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
li{
    font-weight: normal;
}

a{
    text-decoration: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    color: #666;
}

p{
    font-size: 1.5rem;
    text-align: justify;
}

.bao-vien{
    width: 70%;
    margin: auto;
}

/* header */
#main-header{
    background:var(--dark-color);
    min-height: 12rem;
}

.main-nav{
    float: right;
}

.main-nav ul{
    display: flex;
}

.main-nav li{
   margin-right: 2rem;
   margin-top: 9rem;
   text-transform: uppercase;
   
}

.main-nav li a{
    color: #fff;
    padding: 0.5rem 1rem 0 1rem;
    font-size: 1.5rem;
}

.main-nav li a:hover, .nav-clicked{
    border-top:2px solid var(--primary-color);
    color: var(--primary-color);
}
.main-logo{
    float: left;
}
.main-logo h1{
    margin-top: 3rem;
    font-size: 4rem;
    color: #fff;
    font-weight: bold;
}


.main-logo span{
    color: var(--primary-color);
    font-size: 4rem;
}

.logo-title{
    color: #fff;
    font-size: 1.5rem;
    margin-left: 1rem;
}

#main-section{
    margin-top: 5rem;
}

.container{
    background: #f2f2f2;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    min-height: 32rem;
    width: 100%;
}

.home-grid{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 5rem;
    justify-content: center;
    align-items: stretch;
}

.profile-pic{
    height: 280px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-position: center;
    background-size: cover;
}

.container ul{
    margin-bottom: 1.3rem;
    line-height: 1.7;
}
/* text */

.float-right{
    float: right;
}

.float-left{
    float: left;
}
.clear-justify{
    text-align: left;
}

.text-nm{
    font-size: 1.5rem;
}
.text-lg{
    font-size: 1.6rem;
}
.text-xxl{
    font-size: 4rem;
}

.text-xl{
    font-size: 2rem;
}
.text-color{
    color: var(--primary-color);
}

.text-dark{
    color: #666;
}
.inline{
    display: inline-block;
}
.italic{
    font-style: italic;
}
.margin-top{
   margin-top: 2rem;
}
.margin-top-sm{
    margin-top: 1rem;
}
.border-top{
    border-top: 1px solid #ccc;
    padding-top:1rem;
}

/* button */
.btn{
    padding: 0.8rem 3rem;
    background: var(--primary-color);
    display: inline-block;
    color: #fff;
    font-size: 1.3rem;
    border-radius: 2px;
    text-transform: uppercase;
}

.btn:hover{
    background:#004d3d;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}

/*box */
#home-box{
    margin-top: 5rem;
}
#home-box ul{
    list-style-type: disc;
    margin-top: 0.8rem;
}
#home-box h3{
    text-align: center;
}
#home-box{
    line-height: 1.6;
}
#home-box p{
    font-size: 14px;
}
#home-box ul li p{
    font-size: 13px;
}
.box{
    padding-right: 1rem;
}
.box:nth-child(1){
    grid-area: box1;
}
.box:nth-child(2){
    grid-area: box2;
}
.box:nth-child(3){
    grid-area: box3;
}

.box-grid{
    display: grid;
    grid-template-areas:"box1 box2 box3";
    grid-gap: 2rem;
}

.border-right{
    border-right: 1px solid #ccc;
}

/* footer */

#main-footer{
    margin: 2rem 0 0.5rem 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 1.5rem 0 3rem 0;
    width: 100%;
    height: 3rem;
}

/* CV-section */

#cv-sec{
    margin-top: 2rem;
    line-height: 1.6;
}

.work-ex h3, .hoc-van h3, .chung-chi h3, #skills h3, .tham-khao h3{
    width: 100%;
    border-bottom: 3px solid #ccc;
    padding-bottom: 0.5rem;
}
.tham-khao-boxs{
    margin-top: 1rem;
    display: flex;
    flex-direction: space-between;
}

.tham-khao-box{
    margin-right: 5rem;
    width: 28%;
}

/* Skills tab */

.skills-tab{
    display: flex;
    justify-content: flex-start;    
}
.tab-item{
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--primary-color);
    margin-right: 2px;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
	
}

.tab-item:hover{
    background:#004d3d;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
}
.tab-item:active{
	transform: scale(0.9);
}
.tab-item:focus{
	outline: none;
}
.tab-clicked{
    background: #004d3d;
}
.tab-content-item{
    display: none;
    margin-top: 1rem;
}


/* Media screen */

@media only screen and (max-width: 1180px){
    .bao-vien{
        width: 90%;
    }
}

@media only screen and (max-width:998px){
	.media-hidden{
        display: none;
    }
   .home-grid{
       grid-gap: 10rem;
   }
}

@media only screen and (max-width:807px){
    .tab-item{
        padding: 1rem 2rem;
    }
}


@media only screen and (max-width:768px){
    #main-header{
        min-height: 17rem;
        text-align: center;
    }
    .bao-vien{
        width: 95%;
    }
    .main-nav{
        float: none;
        display: inline-block;
    }
    
    .main-nav li{
        margin-top: 3rem;
    }

    .main-logo{
        float: none;
        display: block;
        padding-top: 2rem;
    }
    .logo-title{
        margin: 0;
        padding: 0;
        display: inline-block;
    }
    #main-section{
        margin-top: 2rem;
    }
    .home-grid{
        display: block;
    }
    .media-hidden{
        display: inline-block;
        margin-top: 2rem;
    }
    .media-center{
        display: inline-block;
        margin-top: 2rem;
    }
    .image-logo{
        width: 100%;
    }
    .image-logo .profile-pic{
        margin: 0 auto;
        display: block;
    }

    #main-footer p{
        text-align: center;
    }

    #home-box{
        margin-top: 2rem;
    }

    .box-grid{
        grid-template-areas:"box1 box2"
        "box3 box3" ;
    }
    .box-grid .box:nth-child(3){
        width: 50%;
        margin: 0 auto;
    }
    .margin-top{
        margin-top: 1rem;
    }
    .box-grid .box:nth-child(2){
        border-right: none;
    }
    .container{
        padding: 1rem;
        min-height: 10rem;
    }
    .container .float-left{
        float: none;
    }
    .container ul{
        margin-bottom: 0;
        line-height: 1.5;
    }
    .profile-pic.media-hidden{
        display: none;
        padding: 0;
        margin: 0;
    }
    .skills-tab{
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .tab-item{
        padding: 0.5rem 0.8rem;
    }
    .tham-khao-boxs{
        flex-direction: column;
    }
    .tham-khao-box{
        width: 100%;
        margin-bottom: 1rem;
    }
}